<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927690196272-hngqqln4jjier3vcsuitnd62sbr165ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927690196272-hngqqln4jjier3vcsuitnd62sbr165ni</string>
	<key>API_KEY</key>
	<string>AIzaSyA4benAQd_Txk1BuO-LFXQWanjQyRK-2dE</string>
	<key>GCM_SENDER_ID</key>
	<string>927690196272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exhbtmain.exhbt</string>
	<key>PROJECT_ID</key>
	<string>exhbt-llc</string>
	<key>STORAGE_BUCKET</key>
	<string>exhbt-llc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927690196272:ios:90fea7f852e4bfa42d34f5</string>
</dict>
</plist>